[mcu]
serial: /dev/ttyMSM1
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 3000
max_z_velocity:  30
max_z_accel: 200

[stepper_x]
step_pin: PB10
dir_pin: PE15
enable_pin: !PB11
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: PD13
position_endstop: 0
position_min: 0
position_max: 351
homing_speed: 50
homing_retract_speed: 5
second_homing_speed: 1

[tmc2209 stepper_x]
uart_pin: PD9
tx_pin: PD8
select_pins:!PB15,PD10,!PD11
interpolate: True
run_current: 1.0
hold_current: 0.5
stealthchop_threshold: 999999
diag_pin: ^PD12
uart_address: 3

[dual_carriage]
axis: x
safe_distance: 21
step_pin: PC5
dir_pin: !PC4
enable_pin: !PB0
microsteps: 64
rotation_distance: 40
endstop_pin: PB2
position_endstop: 351
position_min: 0
position_max: 351
homing_speed: 50
homing_retract_speed: 10
second_homing_speed: 5

[tmc2209 dual_carriage]
uart_pin: PD9
tx_pin: PD8
select_pins:!PB15,!PD10,PD11
interpolate: True
run_current: 1.0
hold_current: 0.5
stealthchop_threshold: 999999
diag_pin: ^PE3
uart_address: 3


[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE6
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: PB9
position_endstop: 0
position_max: 202
homing_speed: 50
homing_retract_speed: 10
second_homing_speed: 5

[tmc2209 stepper_y]
uart_pin: PD9
tx_pin: PD8
select_pins:PB15,!PD10,!PD11
interpolate: True
run_current: 1.4
hold_current: 0.5
stealthchop_threshold: 999999
diag_pin: PB5
uart_address: 3

[stepper_z]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE12
rotation_distance: 2
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: PE7
position_endstop: 205
position_max: 205
position_min: -10
homing_speed: 10
homing_retract_speed: 5
second_homing_speed: 1

[tmc2209 stepper_z]
uart_pin: PD9
tx_pin: PD8
select_pins:PB15,PD10,!PD11
interpolate: True
run_current: 1.0
hold_current: 0.5
stealthchop_threshold: 999999    
diag_pin: ^PE9
uart_address: 3

[extruder]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 32
full_steps_per_rotation: 200
# value measured
rotation_distance: 23.09
max_extrude_cross_section: 5
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_only_distance: 500.0
heater_pin: PE14
max_power: 1.0
sensor_type: Snapmaker J1 Nozzle
# ADC reference voltage (standard for STM32/ARM boards)
adc_voltage: 3.3
# Voltage offset for fine-tuning calibration
# NOTE: If nozzle temp at idle is lower than ambient, increase offset 
# (e.g., 0.01). If higher, decrease it (e.g., -0.01). 
# 0.035V is roughly equal to a 5°C shift.
voltage_offset: 0
sensor_pin: PA3
pwm_cycle_time: 0.05
min_extrude_temp: 170
min_temp: 0
max_temp: 350

[tmc2209 extruder]
uart_pin: PD9
tx_pin: PD8
select_pins:PB15,PD10,PD11
interpolate: True
run_current: 0.8
hold_current: 0.4
stealthchop_threshold: 0
uart_address: 3

[verify_heater extruder]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 2


[extruder1]
step_pin: PC2
dir_pin: !PC1
enable_pin: !PC3
microsteps: 32
full_steps_per_rotation: 200
# value measured
rotation_distance: 23.09
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_only_distance: 500.0
max_extrude_cross_section: 5
heater_pin: PE13
max_power: 1.0
# Configuration for the Snapmaker J1 Hotend sensor
sensor_type: Snapmaker J1 Nozzle
# ADC reference voltage (standard for STM32/ARM boards)
adc_voltage: 3.3
# Voltage offset for fine-tuning calibration
# NOTE: If nozzle temp at idle is lower than ambient, increase offset 
# (e.g., 0.01). If higher, decrease it (e.g., -0.01). 
# 0.035V is roughly equal to a 5°C shift.
voltage_offset: 0
sensor_pin: PA1
pwm_cycle_time: 0.05
min_extrude_temp: 180
min_temp: 0
max_temp: 350

[tmc2209 extruder1]
uart_pin: PD9
tx_pin: PD8
select_pins:!PB15,PD10,PD11
interpolate: True
run_current: 0.8
hold_current: 0.4
stealthchop_threshold: 0
uart_address: 3

[verify_heater extruder1]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 2


[fan_generic left_part_fan]
pin: PC9
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010

[heater_fan left_extruder_fan]
pin: PA8
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


[fan_generic right_part_fan]
pin: PC7
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010

[heater_fan right_extruder_fan]
pin: PC8
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010
heater: extruder1
heater_temp: 50.0
fan_speed: 1.0

#############################################################
# Auxiliary cooling FAN connection
# Replaces the enclosure FAN
# Allows independent management of the cooling FANs
##############################################################

[output_pin heater_power]
pin: PC11
value: 1
shutdown_value: 0

[output_pin heater_bed_power]
pin: PA9
value: 1
shutdown_value: 0

[output_pin stepper_power]
pin: PC10
value: 1
shutdown_value: 0

[led my_led]
white_pin: PB8
cycle_time: 0.001
hardware_pwm: True
initial_WHITE: 1.0

[adc_temperature motion_sensor]
temperature1: 0
voltage1: 0.0
temperature2: 100
voltage2: 3.3


[heater_bed]
heater_pin: PA10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
pullup_resistor: 4700
min_temp: 5
max_temp: 110

[verify_heater heater_bed]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 2

[force_move]
enable_force_move: True

[idle_timeout]
timeout: 3600
gcode:
